#timer {
    position: absolute;
    top: 0px;
    right: 0px;
}

#highscore {
    position: absolute;
    top: 50px;
    left: 50px;
    color:black;
}

#saveButton {
    position: absolute;
    bottom: 10px;
    margin: auto;
}

#name {
    position: absolute;
    bottom: 40px;
    margin: auto;
}

#startButton {
    height: 80px;
    width: 150px;
    font-size: 50px;
    border-radius: 5rem;
}

header {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}



button {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
