#timer {
    position: absolute;
    top: 0px;
    right: 0px;
}

#highscore {
    position: absolute;
    top: 0px;
    left: 0px;
}

header {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}